<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table thead th {
            background-color: #00a8e8;
            color: white;
            text-align: center;
        }
        .table tbody tr:nth-child(odd) {
            background-color: #f2f9ff;
        }
        .table tbody tr:nth-child(even) {
            background-color: #e6f7ff;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <form th:action="@{/list}" method="get">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="monthYear">Select Month and Year</label>
                    <select class="form-control" id="monthYear" name="monthYear" required>
                        <option value="2024-1">January 2024</option>
                        <option value="2024-2">February 2024</option>
                        <option value="2024-3">March 2024</option>
                        <option value="2024-4">April 2024</option>
                        <option value="2024-5">May 2024</option>
                        <option value="2024-6">June 2024</option>
                        <option value="2024-7">July 2024</option>
                        <option value="2024-8">August 2024</option>
                        <option value="2024-9">September 2024</option>
                        <option value="2024-10">October 2024</option>
                        <option value="2024-11">November 2024</option>
                        <option value="2024-12">December 2024</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center mt-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <h4>Results for <span th:text="${selectedMonthYear}">October 2024</span></h4>

    <table class="table mt-3 table-bordered">
        <thead>
        <tr>
            <th>Search Keywords</th>
            <th>Display Keywords</th>
            <th>Platform</th>
            <th>Matching Pattern</th>
            <th th:each="day : ${#numbers.sequence(1, daysInMonth)}"> <span th:text="${day}"></span></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="dayResults : ${resultsByDay}">
                <div th:if="${dayResults.size() > 0}" th:each="detail : ${dayResults}">
                    <td th:text="${detail.searchKeywords}">
                    </td>
                    <td th:text="${detail.matchKeywords}">
                    </td>
                    <td th:text="${detail.platform}">
                    </td>
                    <td th:text="${detail.matchingPattern}">
                    </td>
                    <td >
                        <p th:each="result : ${detail.results}" th:text="${result}"></p>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>